<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Welcome to Firedoge</title>
    <link rel="shortcut icon" href="icon.png" type="image/x-icon"/>
    <link rel="icon" href="icon.png" type="image/x-icon"/>
  </head>
  <body style="background:url(shiba-inu-dog.gif);background-attachment:scroll;background-size:auto;background-size:cover;background-attachment:fixed">

<div id="app" style="background:#ffffff85;padding:10px;border-radius:50px">
<center>
<img width="256px" src="iconmuchsize.png"/>
<h1>(much) Welcome to Firedoge</h1>
</center>

<h1>A few things to experiment:</h1>

<img width="48px" src="ublock.svg"/>
<h2>Be free of ads, just as you were in Brave.</h2>
<h3>And outside Brave, you are also free of <a href="https://twitter.com/wekabot/status/1321205853211348992" target="_blank">Unstoppable Domains</a>, of <a href="https://github.com/brave/brave-browser/issues/7860" target="_blank">a built-in MetaMask fork that had destroyed</a> your home MetaMask and also free of <a href="https://twitter.com/AlgoDojo/status/1467222165976240128" target="_blank">Solana</a> propaganda...</h3>
<h4>To challenge the new Chrome - Brave - this dog have to be brave (literally).</h4><hr/>

<img width="48px" src="ipfs_companion.png"/>
<h2>Remember <a href="https://www.howtogeek.com/692445/remembering-geocities-the-1990s-precursor-to-social-media/" target="_blank">GeoCities</a>?</h2>
<h3>When GeoCities was ceased, <a href="https://www.cnet.com/tech/services-and-software/geocities-dies-in-march-2019-and-with-it-a-piece-of-internet-history" target="_blank"/>a piece of the Internet history</a> was ripped out.</h3>
<p>A single company, <a href="https://twitter.com/felipeneto/status/1069729478467862528" target="_blank">Yahoo</a>, deleted it "in behalf" of millions of users who depended on these data because it was part of them and their journey.</p>
<p>Yahoo, like other traditional companies: isn't a DAO and its users had no tokens to vote their signaling.</p>
<p>Just try to access <a href="http://aragon.plasmmer.eth.link.ipns.localhost:8080/#/" target="_blank">Aragon</a> or <a href="http://app.uniswap.org.ipns.localhost:8080/" target="_blank">Uniswap</a>: They are online 24/7 and should work even on a zombie apocalypse event, thanks to <a href="https://www.vice.com/en/article/78xgaq/the-interplanetary-file-system-wants-to-create-a-permanent-web" target="_blank">IPFS</a>.</p>
<p>If you're techy, you can start researching how to import yours and other sites; if not, soon <a href="https://floflis.github.io/apps/sitemaker" target="_blank">Site Maker</a> will be available so even your grandma can have her recipes (and/or personal) site; but you (or youh grandma) don't have to wait: make <a href="https://neocities.org/" target="_blank">your site on Neocities right now</a> <3</p>
</div>
</body>
</html>
